In [ ]:
#lambda function python

In [1]:
a = int(input("enter a number"))

enter a number10

In [2]:
b = int(input("eter a number"))

eter a number12

In [3]:
lamdafunction = lambda a,b:a+b

In [4]:
lamdafunction(a,b)

22

In [ ]:
#write a progrmme to written first character  of a string which a has passed to it

In [5]:
a = input('enter the string')

enter the stringadam

In [6]:
firstword = lambda a:a[0]

In [7]:
firstword(a)

'a'

In [ ]:
#write a lamda function which retuns true or false

In [8]:
iseven = lambda a : a%2 == 0

In [10]:
iseven(11)

False

In [11]:
#write  a lamda function to give gratest among 2 integers

In [16]:
x,y = 11,12

In [13]:
greatestnumber = lambda x,y:x if x>y else y

In [17]:
greatestnumber(x,y)

12

In [ ]:
# Write a function called inspect( ) that accepts a string as argument and returns the word EVEN if the string is of even length and returns it’s first character if the string is of odd length

# Now call this function for first 3 month names

In [28]:
def inspect(a):
  if len(a)%2 == 0:
    return 'even'
  else:
    return a[0]

In [29]:
months = ['januarya','february','March']

In [30]:
list(map(inspect,months))

['even', 'even', 'M']

In [53]:
# Write a lambda expression that accepts a string as argument and returns it’s first character
# Now use this lambda expression in map( ) function to work on for first 3 month names

In [31]:
list(map(firstword,months))

['j', 'f', 'M']

In [52]:
# Write a lambda expression that accepts a character as argument and returns True if it is a vowel otherwise False
# Now ask the user to input his/her name and display only the vowels in the name . In case the name does not contain any vowel display the message No vowels in your name

In [32]:
vowels = ['a','e','i','o','u']

In [34]:
isvowel = lambda x : x if x in vowels else 'false'

In [35]:
name = list(input('enter name'))

enter nameadam

In [36]:
nametrue = list(map(isvowel,name))

In [47]:
print(nametrue)

[True, False, True, False]

In [51]:
[name[i] for i in range(0,len(nametrue)-1)  if nametrue[i]]

['a', 'a']