In [29]:
# 1. Write a Python program to convert kilometers to miles?
# 2. Write a Python program to convert Celsius to Fahrenheit?
# 3. Write a Python program to display calendar?
# 4. Write a Python program to solve quadratic equation?
# 5. Write a Python program to swap two variables without temp variable?

# 1. Write a Python program to convert kilometers to miles?

In [30]:
def kmtomile(km):
  mile = km * 0.62137
  return mile

In [31]:
mile =  kmtomile(10)

In [32]:
print(mile)

6.213699999999999

2. Write a Python program to convert Celsius to Fahrenheit?

In [33]:
import calendar

In [34]:
def displaycalender(year,month):
  print(calendar.month(year,month))

In [35]:
year = int(input("please enter year"))

please enter year95

In [36]:
month = int(input("please enter month from 01 to 12"))

please enter month from 01 to 1201

In [37]:

displaycalender(year,month)

     January 95
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

Solving quadratic equation ax**2 + b*X + c

In [38]:
import cmath

In [39]:
a = float(input("please enter a value"))
b = float(input("please enter b value"))
c = float(input("please enter c value"))

please enter a value1
please enter b value5
please enter c value6

In [40]:
#we need to calculate discriminent

4. Write a Python program to solve quadratic equation?

In [41]:
D = b **2 - 4 *a*c

In [42]:
sol1 = (-b - cmath.sqrt(D))/(2*a)

In [43]:
sol2 = (-b + cmath.sqrt(D))/(2*a)

In [44]:
print(f"solutions for Qudratic equations are{sol1}{sol2}")

solutions for Qudratic equations are(-3+0j)(-2+0j)

# 5. Write a Python program to swap two variables without temp variable?

In [45]:
def swaptwovariables(a,b):
  print(a)
  print(b)
  a = a + b 
  b = a-b
  a = a - b
  print(a)
  print(b)

In [46]:
swaptwovariables(-5,10)

-5
10
10
-5